<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Captain Of The Day</title>
    <link rel="stylesheet" type="text/css" href ="{{ media_url }}css/common.css" media="screen" />
</head>
<body>
    <fb:login-button width="200" perms="user_photo_video_tags,user_photos,friends_photo_video_tags,friends_photos,offline_access"></fb:login-button>	
	<div id="fb-root"></div>
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<script>
	  FB.init({
	    appId  : "{{ fb_app_id }}",
	    status : true, // check login status
	    cookie : true, // enable cookies to allow the server to access the session
	    xfbml  : true  // parse XFBML
	  });
	</script>
</body>
</html